.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* <!-- =============================================================== -->
<!-- ______________________УРОК 7: ФОН_____________________________ --> */

.block {
	/* колір фона */

	background-color: rgb(115, 255, 0);

	/* універсальне свойство */

	/* background: rgba(255, 255, 0, 0.1); */
	/* обидва рівнозначні */

	/* ____________________________________________ */

	/* Установка фонового зображення */
	background-image: url("../imeg/2764.png");
	/* Фонова картинка блока не встановлює його розмір, 
така картинка служить як обої/фон.
Якщо картинка напівпрозора (тобото є місце де не має зображення
то це місце можна фарбувати у колір через background-color:
/* універсальне свойство */
	/* синткесис: */
	/* background: rgba(255, 255, 0, 0.993) url("../imeg/2764.png"); */

	/* ______________________________________________ */

	/* Установка кольорового градіента
через 'css gradient' - додаток у браузері */
	/* background-image: linear-gradient(347deg, rgba(6,136,51,0.9976365546218487) 0%, rgba(176,0,51,1) 45%);; */

	/* _______________________________________________ */

	/* Управління повторенням зображення */

	/* background-repeat: 
repeat; стоіть за замовчуванням

repeat-x; повтор картинки тільки по горизонталі

repeat-y;повтор картинки тільки по вертикалі (дає можливість
зшивати одноманітні картинки з одної картинки (як обої у квартир)

space; - заповнює блок залишаючи пробіли між картниками
round; - розплющує картинку
no-repeat; відміняє повторення картинки
*/
	background-repeat: no-repeat;

	/* ___________________________________________________ */

	/* позиція зображаення 
background-position: -визначає місце де буде розміщена картинка
Анатомія значення 
(словами): з початку задається вершина
top, center, bottom, потім сторона положиння   left, right

(відсотками) горизонталь - від ширини, вертикаль від висоти
background-position: 10%(відступ)  50%(висота) картинки у межах блока;
Завжди підстроюєтьсяпід розмір юлока.

(пікселі) позиція картинки задана у пікселях буде бетонно закріплена
у блоці і не буде рухомою відносно розміру блока.
*/
	/* background-position: 35%  90%; */
	/* універсальний запис
background: rgb(115, 255, 0) url("../imeg/2764.png") 50% no-repeat ;
*/

	/* __________________________________________________________________ */

	/* Розмір зображення 
background-size: - регулює висоту і ширину картинки.
Можна вказувати %, пікселях і в спец значеннях

auto auto; - стоіть за замовчуванням (відображає реальний розмір картинки
200px auto; - коли вказується ширина у 200px а висоту auto то висота підлаштовується автоматом
auto 200px; - у цьому випадку конкетно задається висота а ширина підлаштовується автоматом
200px; - якщо auto не вказувати то 200px стане і широною і вистою картинки
50%; - значення у відсотках регулює розмір картинки від шири блока
auto 50% - 

(спеціальні значення)
contain; - встановить картинку так щоб вона займала найменший розмір висоти або ширини
cover; - автоматично масштабує картинку щоб вона завжди займала всю площадь блока.
У сокупності із backround-position: center; вирішує багато проблем у адаптиві
приклад: 
===
background-size: cover;
background-position: center;
===
у універсальні свойства записується чере слеш-"/" після свойства
background-position:

універсальний запис
background: rgb(115, 255, 0) url("../imeg/2764.png") 50% / cover no-repeat ;
*/

/* _____________________________________________ */

/* Фіксація зображення
background-attachment:

scroll; - за замовчуванням, картинка скролиться разом із блоком
fixed; - картинка скролитьтся(ковзає) по блоку

*/
background-attachment: fixed;

/* ____________________________________________________ */
 /* повна анатомія 
 background: колір картинка/градіент  / розмір повторення фіксація
  */
}

.item-list{
	background-image: url("../imeg/2764.png");
	background-repeat: no-repeat;
	background-size: 15px;
	padding-left: 35px;
	margin-bottom: 12px;
	min-height:15px;
}
.item-block{
	background-image:linear-gradient(174deg, rgba(255,255,255,1) 0%, rgba(247,7,7,0) 45%), url("../imeg/ava3.jpg") ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background: url() 0 0 / 0 0 no-repeat fixed;
	background-attachment: ;
	
}

/* background: колір картинка або градіент позиція / розмір повторення; */